<form name="form" novalidate class="form-horizontal" ng-submit="form.$valid && updateHunter(hunter)">

    <div ng-include="'resources/partials/forms/form_partials/form_hunter.html'"></div>

    <div class="form-group">
        <div class="col-sm-12">
            <span class="pull-right">
                <a class="btn btn-danger" href="#/hunters" role="button">Back</a>
                <button class="btn btn-success" type="submit">Update Hunter</button>
            </span>
        </div>
    </div>
</form>
