<div class="form-group" ng-class="{'has-error': form.$submitted && !(form.quantity.$valid)}">
    <label for="quantity" class="col-sm-2 control-label">Quantity</label>
    <div class="col-sm-10">
        <input placeholder="quantity" id="quantity" type="number" min="1" name="quantity" class="form-control" ng-model="mushroomCount.count" required/>
        <div ng-show="form.$submitted">
            <p class="help-block" ng-show="form.quantity.$error.required">Quantity is required</p>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': form.$submitted && !(form.mushroomId.$valid)}">
    <label for="mushroomId" class="col-sm-2 control-label">Mushroom</label>
    <div class="col-sm-10">
        <select id="mushroomId" name="mushroomId" class="form-control" ng-model="mushroomCount.mushroom"
                ng-options="mushroom.name for mushroom in mushrooms track by mushroom.id" required></select>
        <div ng-show="form.$submitted">
            <p class="help-block" ng-show="form.mushroomId.$error.required">Mushroom is required</p>
        </div>
    </div>
</div>
