<h1>Administation of hunters</h1>


<a href="#/admin/newhunter" class="btn btn-primary">New Hunter</a>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Nick</th>
        <th>Email</th>
        <th>Type</th>
        <th>Rank</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="hunter in hunters track by $index">
        <td>{{hunter.id}}</td>
        <td>{{hunter.firstName}}</td>
        <td>{{hunter.surname}}</td>
        <td>{{hunter.nick}}</td>
        <td>{{hunter.email}}</td>
        <td>{{hunter.type}}</td>
        <td>{{hunter.rank}}</td>
        <td>
            <button ng-click="deleteHunter(hunter)" type="submit" class="btn btn-primary">Delete</button>
            <!--<button ng-click="updateHunter(hunter)" type="submit" class="btn btn-primary">Delete</button>-->
        </td>
    </tr>
    </tbody>
</table>