<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Grows since</th>
        <th>Grows until</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="mushroom in mushrooms track by $index">
        <td>{{mushroom.name}}</td>
        <td>{{mushroom.description}}</td>
        <td>{{mushroom.fromDate}}</td>
        <td>{{mushroom.toDate}}</td>
        <td>{{mushroom.type}}</td>
        <td>
            <button ng-show="user.role == 'ADMIN'" ng-click="deleteMushroom(mushroom)" type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-success"  ng-show="user.role == 'ADMIN'" href="#/mushrooms/update/{{mushroom.id}}" role="button">Update</a>
        </td>
    </tr>
    </tbody>
</table>
