<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Surname</th>
        <th>Nick</th>
        <th>Email</th>
        <th>Type</th>
        <th>Rank</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="hunter in hunters track by $index">
        <td>{{hunter.firstName}}</td>
        <td>{{hunter.surname}}</td>
        <td>{{hunter.nick}}</td>
        <td>{{hunter.email}}</td>
        <td>{{hunter.type}}</td>
        <td>{{hunter.rank}}</td>
        <td>
            <button ng-show="user.role == 'ADMIN'" ng-click="deleteHunter(hunter)" type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-success" ng-show="user.role == 'ADMIN'" href="#/hunters/update/{{hunter.id}}" role="button">Update</a>
        </td>
    </tr>
    </tbody>
</table>
