<table class="table">
    <thead>
    <tr>
        <th>Forest</th>
        <th>Visited From</th>
        <th>Visited To</th>
        <th>Note</th>
        <th>Total Mushrooms Picked</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="visit in visits track by $index">
        <td>{{visit.forest.name}}</td>
        <td>{{visit.fromDate}}</td>
        <td>{{visit.toDate}}</td>
        <td>{{visit.note}}</td>
        <td>{{visit.totalMushroomCount}}</td>
        <td>
            <button ng-click="deleteVisit(visit.id)" type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-success" href="#/yourvisits/update/{{visit.id}}" role="button">Update</a>
        </td>
    </tr>
    </tbody>
</table>
