<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="forest in forests track by $index">
        <td>{{forest.name}}</td>
        <td>{{forest.localityDescription}}</td>
        <td>
            <button ng-show="user.role == 'ADMIN'" ng-click="deleteForest(forest)" type="submit" class="btn btn-danger">
                Delete
            </button>
            <a class="btn btn-success" ng-show="user.role == 'ADMIN'" href="#/forests/update/{{forest.id}}"
               role="button">Update</a>
        </td>
    </tr>
    </tbody>
</table>
