<table class="table">
    <thead>
    <h3>Catches</h3>
    <tr>
        <th>Mushroom Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="count in visit.mushroomsCount">
        <td>{{count.mushroom.name}}</td>
        <td>{{count.count}}</td>
        <td>
            <button ng-show="user.role == 'ADMIN'" ng-click="deleteMushroomsCount(count.id)" class="btn btn-danger">Delete</button>
            <a class="btn btn-success" ng-show="user.role == 'ADMIN'" href="#/mushroomscount/update/{{count.id}}" role="button">Update</a>
        </td>
    </tr>
    </tbody>
</table>
