<table class="table">
    <thead>
    <h3>Catches</h3>
    <tr>
        <th>Id</th>
        <th>Quantity</th>
        <th>Mushroom Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="mushroomscount in visits[0].mushroomsCount track by $index">
        <td>{{mushroomscount.id}}</td>
        <td>{{mushroomscount.count}}</td>
        <td>{{mushroomscount.mushroom.name}} (id:{{mushroomscount.mushroomId}})</td>
        <td>
            <button ng-click="deleteMushroomsCount(mushroomscount)" class="btn btn-danger">Delete</button>
            <a class="btn btn-success" href="#/yourmushroomscount/update/{{mushroomscount.id}}" role="button">Update</a>
        </td>
    </tr>
    </tbody>
</table>