<form name="form" novalidate class="form-horizontal" ng-submit="form.$valid && createMushroomsCount(mushroomscount)">

    <div ng-include="'resources/partials/forms/form_partials/form_mushroomscount.html'"></div>

    <div class="form-group">
        <div class="col-sm-12">
            <span class="pull-right">
                <a class="btn btn-danger" href="#/yourvisits/update/{{visitId}}" role="button">Back</a>
                <button class="btn btn-success" type="submit">Create Catch</button>
            </span>
        </div>
    </div>
</form>