<h1>Forests</h1>

<div class="row col-sm-12 input-group">
    <p>
        <button class="btn btn-success" ng-click="findAllForests()">Find All Forests</button>
        <span class="pull-right">
            <a class="btn btn-success" href="#/forests/newforest"
               role="button">New Forest</a>
        </span>
    </p>
</div>

<form name="form" novalidate class="form-horizontal input-group" ng-submit="form.$valid && findForestByName(name)">

    <div class="form-group" ng-class="{'has-error': form.$submitted && !(form.name.$valid)}">
        <div class="col-sm-12 input-group">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Find Forest By Name</button>
            </span>
            <input placeholder="name" id="name" type="text" name="name" class="form-control" ng-model="name" required/>
        </div>
    </div>

</form>

<div ng-include="'resources/partials/list/list_forest.html'"></div>
