<h1>Administation of hunters</h1>

<button class="btn btn-success" ng-click="findAllHunters()">Find All Hunters</button>
<br>
<br>
<form name="form" novalidate class="form-inline">

    <button ng-disabled="!form.$valid" class="btn btn-success" type="submit" ng-click="findHunterByEmail(email)">Find Hunter By Email</button>

    <div class="form-group" ng-class="{'has-error': !(form.email.$valid)}">
        <div class="col-sm-10">
            <input placeholder="email" id="email" type="text" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email" class="form-control" ng-model="email" required/>
        </div>
    </div>

</form>

<div ng-include="'resources/partials/list/list_hunter.html'"></div>
